# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.{txt,md}]
max_line_length = off
indent_size = unset
max_line_length = unset

[Makefile]
max_line_length = off
indent_style = tab
